@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --background: #ffffff;
   --foreground: #000000;
}

@media (prefers-color-scheme: light) {
   :root {
      --background: #ffffff;
      --foreground: #000000;
   }
}

nextjs-portal {
   display: none;
}

body {
   color: var(--foreground);
   background: var(--background);
   font-family: Arial, Helvetica, sans-serif;
}

@layer base {
   input[type="radio"] {
      appearance: none;
      -webkit-appearance: none;
      background-color: white;
      border: 2px solid black;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      cursor: pointer;
      transition: all 0.2s ease;
      position: relative;
   }

   input[type="radio"]:checked {
      background-color: #800020;
      border-color: #ffffff;
   }
}
